h1{
  text-align:center;
}
p{
  text-align: center;
}
#top, #bottom, #left, #right, #navtop{
	background: #000000;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom{
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 80; }
		#bottom { bottom: 0; }
  #navtop {
		left: 0; right: 0;
		height: 20px;
		}
		#navtop{ top: 0; }
