html{

}
h1{
  background-image: url("http://www.leftpheild.com/images/giphy.gif");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align:center;
  color:	#000000;
  border-bottom: 30px;
}
#musicplayer{
  text-align: center;
  top:90px;
}
#top, #bottom, #left, #right, #navtop{
	background: #000000;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom{
		left: 0; right: 0;
		height: 15px;
		}
		#top { top:55px; }
		#bottom { bottom: 0; }
  #navtop {
		left: 0; right: 0;
		height: 10px;
		}
		#navtop{ top: 0; }
