html{
  background-color: #000000;
  color:	#4b0082;


}
h1{
  text-align:center;
  color:	#4b0082;
  border-bottom: 30px;
}
footer{
  text-align:center;
}
#musicplayer{
  text-align: center;
  top:90px;
}
